.wrapper {
  width: 80%;
  float: left;
  background-color: $gray-bright;
  min-height: 80%;
  margin-top: 0;
  &__inside {
    background-color: white;
    margin: 3%;
  }
}
.content {
  padding: $size-large;
  background-color: white;
  text-align: left;
  font-size: $font-content;
  min-height: 80%;

  &__header {
    margin: $size-small;
    text-align: center;
  }

  &__image {
    text-align: center;
    margin-top: $size-medium;
    margin-bottom: $size-medium;
    img {
      max-width: 80%;
      height: auto;
    }
  }

  &__article {
    display: block;
    margin: $size-large;
    line-height: 1.4;
    a {
      color: $green-scout;
      text-decoration: none;
    }
    h2 {
      margin-top: $size-small;
      margin-bottom: $size-small;
    }
  }
  &__back {
    margin: $size-very-large;
    text-align: center;
    font-weight: bold;
    a {
      color: $green-scout;
      text-decoration: none;
    }
  }
  &__facebook {
    margin: $size-large;
    text-align: center;
    img {
      width: auto;
      height: 17%;
    }
  }
}
.red {
  color: red;
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}
