.subnav {
  padding: $size-large;
  background-color: white;
  text-align: center;
  font-size: $font-content;
  min-height: 80%;

  &__header {
    margin: $size-small;
  }
  &__article {
    display: block;
    margin: $size-very-large;
  }
  &__link {
    font-size: $size-large;
    color: $green-scout;
  }
  &__content {
    margin-top: $size-very-large;
  }
}
