*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.navbar {
    display: flex;
    background-color: gray;
    min-height: 7vh;
    justify-content: space-around;
    
}
.nav-list {
  display: flex;
  width: 80%;
  justify-content: space-around;
  margin: auto;
}
.nav-list li {
  width: 100%;
  list-style: none;
  position: relative;
  flex-direction: column;
  padding: 17px 16px;
}
.nav-list a {
    color: yellow;
    text-align: center;
    
    text-decoration: none;
    font-size: 17px;
}
.nav-list a:hover {
    background-color: yellowgreen;
}
.submenu-d {
  display: none;
}
.submenu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    //position: absolute;
    background-color: grey;
    font-size: 17px;
   
    
  }
  .submenu li {
    padding: 17px 16px;
    color: yellow;
    text-align: center;
    padding: 17px 16px;
    text-decoration: none;
    
  }

  


  .toggler div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: white;
}
