.content {
    width: 80%;
    float: left;
    background-color: burlywood;
    margin-top: 0;
    &__posts {
        margin-top: 25px;
        margin-bottom: 25px;
        text-align: center;
    }
    &__post {
        display: inline-block;
        text-align: center;
        width: 30%;
        min-width: 220px;
        height: 300px;
        margin: 10px;
        padding: 10px 10px;
        border-style: solid;
        margin-bottom: 25px;
        overflow: hidden;
    }
};

   
    

