html,
body {
  background-color: $gray-bright;
}

.links {
  float: right;
  display: flex;
  width: 20%;
  flex-direction: flex-end;
  margin-top: 0;
  justify-content: center;
  text-align: center;
  &__content {
    margin-top: $margin-large;
    font-size: $font-content;
  }
  &__article {
    margin-top: 30px;
    margin-bottom: 30px;
    img {
      padding: $margin-small;
    }
  }
}
.hufiec-zielony {
  width: 70%;
  height: auto;
}
.zhp-krakow {
  width: 40%;
  height: auto;
}
.zhp-zielony {
  width: 70%;
  height: auto;
}
.facebook-logo {
  width: 40%;
  height: auto;
}
